{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": [
          "last 2 Firefox versions", "unreleased Firefox versions",
          "last 2 Chrome versions", "unreleased Chrome versions"
        ]
      }
    }],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    ["babel-plugin-root-import", {
      "paths": [
        { "rootPathSuffix": "src" },
        { "rootPathPrefix": "@", "rootPathSuffix": "test" }] }]
  ]
}
